<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobsStateService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoadmapService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobStateService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IServicingService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IFleetManagerService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IRoadmapService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IServicingService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobsStateService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobStateService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IFleetManagerService">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:41917/jobBuilder.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="NetTcpBinding_IJobBuilderService" />
      <endpoint address="http://127.0.0.1:41916/jobBuilder.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="WSDualHttpBinding_IJobBuilderService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobsState.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IJobsStateService" contract="JobsStateServiceReference.IJobsStateService"
        name="NetTcpBinding_IJobsStateService" />
      <endpoint address="http://127.0.0.1:41916/jobsState.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobsStateService" contract="JobsStateServiceReference.IJobsStateService"
        name="WSDualHttpBinding_IJobsStateService" />
      <endpoint address="net.tcp://127.0.0.1:41917/agent.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="NetTcpBinding_IAgentService" />
      <endpoint address="http://127.0.0.1:41916/agent.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="WSDualHttpBinding_IAgentService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobState.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IJobStateService" contract="JobStateServiceReference.IJobStateService"
        name="NetTcpBinding_IJobStateService" />
      <endpoint address="http://127.0.0.1:41916/jobState.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobStateService" contract="JobStateServiceReference.IJobStateService"
        name="WSDualHttpBinding_IJobStateService" />
      <endpoint address="net.tcp://127.0.0.1:41917/roadmap.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IRoadmapService" contract="RoadmapServiceReference.IRoadmapService"
        name="NetTcpBinding_IRoadmapService" />
      <endpoint address="http://127.0.0.1:41916/roadmap.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IRoadmapService" contract="RoadmapServiceReference.IRoadmapService"
        name="WSDualHttpBinding_IRoadmapService" />
      <endpoint address="net.tcp://127.0.0.1:41917/servicing.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServicingService" contract="ServicingServiceReference.IServicingService"
        name="NetTcpBinding_IServicingService" />
      <endpoint address="http://127.0.0.1:41916/servicing.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServicingService" contract="ServicingServiceReference.IServicingService"
        name="WSDualHttpBinding_IServicingService" />
      <endpoint address="net.tcp://127.0.0.1:41917/fleetManager.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IFleetManagerService"
        contract="FleetManagerServiceReference.IFleetManagerService"
        name="NetTcpBinding_IFleetManagerService" />
      <endpoint address="http://127.0.0.1:41916/fleetManager.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IFleetManagerService"
        contract="FleetManagerServiceReference.IFleetManagerService"
        name="WSDualHttpBinding_IFleetManagerService" />
    </client>
  </system.serviceModel>
</configuration>