<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IServicingService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAgentBatteryStatusService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAgentAttentionService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobStateService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobsStateService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAgentStatecastService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMapService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IServicingService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IAgentBatteryStatusService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IAgentAttentionService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobStateService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobsStateService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IAgentStatecastService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IMapService">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:41917/agent.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="NetTcpBinding_IAgentService" />
      <endpoint address="http://127.0.0.1:41916/agent.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="WSDualHttpBinding_IAgentService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobBuilder.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="NetTcpBinding_IJobBuilderService" />
      <endpoint address="http://127.0.0.1:41916/jobBuilder.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="WSDualHttpBinding_IJobBuilderService" />
      <endpoint address="net.tcp://127.0.0.1:41917/servicing.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IServicingService" contract="ServicingServiceReference.IServicingService"
        name="NetTcpBinding_IServicingService" />
      <endpoint address="http://127.0.0.1:41916/servicing.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IServicingService" contract="ServicingServiceReference.IServicingService"
        name="WSDualHttpBinding_IServicingService" />
      <endpoint address="net.tcp://127.0.0.1:41917/agentBatteryStatus.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAgentBatteryStatusService"
        contract="AgentBatteryStatusServiceReference.IAgentBatteryStatusService"
        name="NetTcpBinding_IAgentBatteryStatusService" />
      <endpoint address="http://127.0.0.1:41916/agentBatteryStatus.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAgentBatteryStatusService"
        contract="AgentBatteryStatusServiceReference.IAgentBatteryStatusService"
        name="WSDualHttpBinding_IAgentBatteryStatusService" />
      <endpoint address="net.tcp://127.0.0.1:41917/agentAttention.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAgentAttentionService"
        contract="AgentAttentionServiceReference.IAgentAttentionService"
        name="NetTcpBinding_IAgentAttentionService" />
      <endpoint address="http://127.0.0.1:41916/agentAttention.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAgentAttentionService"
        contract="AgentAttentionServiceReference.IAgentAttentionService"
        name="WSDualHttpBinding_IAgentAttentionService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobState.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IJobStateService" contract="JobStateServiceReference.IJobStateService"
        name="NetTcpBinding_IJobStateService" />
      <endpoint address="http://127.0.0.1:41916/jobState.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobStateService" contract="JobStateServiceReference.IJobStateService"
        name="WSDualHttpBinding_IJobStateService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobsState.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IJobsStateService" contract="JobsStateServiceReference.IJobsStateService"
        name="NetTcpBinding_IJobsStateService" />
      <endpoint address="http://127.0.0.1:41916/jobsState.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobsStateService" contract="JobsStateServiceReference.IJobsStateService"
        name="WSDualHttpBinding_IJobsStateService" />
      <endpoint address="net.tcp://127.0.0.1:41917/agentStatecast.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAgentStatecastService"
        contract="AgentStatecastServiceReference.IAgentStatecastService"
        name="NetTcpBinding_IAgentStatecastService" />
      <endpoint address="http://127.0.0.1:41916/agentStatecast.svc"
        binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAgentStatecastService"
        contract="AgentStatecastServiceReference.IAgentStatecastService"
        name="WSDualHttpBinding_IAgentStatecastService" />
      <endpoint address="net.tcp://127.0.0.1:41917/map.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IMapService" contract="MapServiceReference.IMapService"
        name="NetTcpBinding_IMapService" />
      <endpoint address="http://127.0.0.1:41916/map.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IMapService" contract="MapServiceReference.IMapService"
        name="WSDualHttpBinding_IMapService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
