<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IAgentService">
          <security mode="None" />
        </binding>
        <binding name="WSDualHttpBinding_IJobBuilderService">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:41917/agent.svc" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="NetTcpBinding_IAgentService" />
      <endpoint address="http://127.0.0.1:41916/agent.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IAgentService" contract="AgentServiceReference.IAgentService"
        name="WSDualHttpBinding_IAgentService" />
      <endpoint address="net.tcp://127.0.0.1:41917/jobBuilder.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="NetTcpBinding_IJobBuilderService" />
      <endpoint address="http://127.0.0.1:41916/jobBuilder.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IJobBuilderService"
        contract="JobBuilderServiceReference.IJobBuilderService" name="WSDualHttpBinding_IJobBuilderService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
