<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseClients" version="2.0.0-alpha07" targetFramework="net472" />
  <package id="Castle.Core" version="4.4.1" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.8.2" targetFramework="net472" />
  <package id="GAAPICommon" version="1.2.2" targetFramework="net472" />
  <package id="GACore" version="1.25.7" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Moq" version="4.14.5" targetFramework="net472" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="NLog" version="4.7.3" targetFramework="net472" />
  <package id="NUnit" version="3.12.0" targetFramework="net472" />
  <package id="NUnit3TestAdapter" version="4.0.0-alpha.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-preview.7.20364.11" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>