<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BaseClients" version="2.1.1" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.8.2" targetFramework="net472" />
  <package id="FleetClients" version="3.1.1" targetFramework="net472" />
  <package id="GAAPICommon" version="1.15.0" targetFramework="net472" />
  <package id="GACore" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="morelinq" version="3.3.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="4.7.5" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>